.sw-heading-wrap
  .sw-heading-inner
    a.sw-heading-link(href='#')
      include /shared/templates/module/_logo

    a.sw-heading-text-wrap(href='#') 
      .sw-heading-text Who We Are

      .sw-Heading-line
        .sw-line
