mixin heading({title, link})
  .sw-heading-wrap
    .sw-heading-inner
      a.js-hashs.js-hover.sw-heading-text-wrap(href=link) 
        .sw-heading-text #{title}

        .sw-Heading-line
          .sw-line
