mixin heading({title, link})
  .js-heading-wrap.sw-heading-wrap.hover
    .sw-heading-inner
      a.js-hashs.js-hover.sw-heading-text-wrap(href=link) 
        .sw-heading-text-inner
          .sw-heading-text #{title}

          .sw-heading-line
            .sw-line

          .sw-heading-line-back
