div

  header.sw-header-wrap
    .sw-header-inner
      a.sw-header-link(href='/')
        include /shared/templates/module/_logo

      #js-toggle-wrap.sw-header-toggle-wrap
        .sw-header-toggle-contents
          span.sw-header-toggle
        .sw-header-toggle-contents
          span.sw-header-toggle
