#js-loader-wrap.sw-loading-wrap
  .sw-loading-inner
    .sw-loading-contents
      p.sw-loading-text
        |
        span.js-loader-text.sw-loading-word.loading 8
        |
        span.js-loader-text.sw-loading-word.sw-loading-word_space.loading 9
        |
        span.js-loader-text.sw-loading-word.loading s
        |
        span.js-loader-text.sw-loading-word.loading t
        |
        span.js-loader-text.sw-loading-word.loading u
        |
        span.js-loader-text.sw-loading-word.loading d
        |
        span.js-loader-text.sw-loading-word.loading i
        |
        span.js-loader-text.sw-loading-word.loading o
