extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var bgColor = 'black'
    var headerColor = 'white'

block main
  .detail-password-wrap
    .detail-password-bg
    .detail-password
      p.detail-password-text enter the key to projects
      input#js-password.js-hover.detail-password-input(name='', type='password')
