@import '../../../shared/styles/import';

.detail-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.detail-inner {
  width: 100%;
}

.detail-kv-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.detail-bg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.detail-bg-inner {
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg
      ,rgba(0,0,0,.8) 25%,rgba(0,0,0,.6) 50%,rgba(0,0,0,.4) 75%,rgba(0,0,0,.2) 90%,transparent);
  }
}

.detail-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.detail-kv {
  position: absolute;
  top: percentage(190 / $X_LARGE_SCREEN_HEIGHT);
  left: percentage(108 / $X_LARGE_SCREEN_WIDTH);
}

.detail-kv-heading {
  $fontSize: 12;
  $lineHeight: 14;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.12em;
  margin-bottom: 16px;
  color: #fff;
  display: flex;

  @include largeScreenWidthLess() {
    $fontSize: 10;
    $lineHeight: 15;

    @include fontvw($fontSize);

    line-height: ($lineHeight / $fontSize);
    display: block;
  }
}

.detail-kv-label-wrap {
  display: flex;
  white-space: nowrap;
  margin-right: 0.5em;
}

.detail-kv-label-number {
  display: block;
  margin-right: 0.5em;
}

.detail-kv-label {
  color: #fff500;
  transition: color 0.2s ease;
  word-wrap: break-word;
}

.detail-kv-heading-name {
  $fontSize: 70;
  $lineHeight: 90;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  color: #fff;
  letter-spacing: 0.065em;
  font-weight: 200;
  word-wrap: break-word;

  @include largeScreenWidthLess() {
    $fontSize: 36;
    $lineHeight: 50;

    @include fontvw($fontSize);

    line-height: ($lineHeight / $fontSize);
    display: block;
  }
}