extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'

block main
  .top-wrap
    .top-kv-wrap
      h2.top-kv-title the 
        br.top-newline
        |creative
        br
        |hacker 
        br.top-newline
        |collective

    .top-menu-wrap
      include /shared/templates/module/_menu
      +menu(data.top.menu)

    include /shared/templates/module/_heading
