extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var bgColor = ''

block main
  include /shared/templates/module/_heading

  .top-wrap
    .top-kv-bg-wrap
      .top-kv-bg-inner
        .js-top-kv-wrap.top-kv-bg-contents.current
          .js-top-kv-inner.top-kv-bg-contents-inner
            .js-top-kv.top-kv-bg(style='background-image: url(/image/img_example_bg.png)')
        .js-top-kv-wrap.top-kv-bg-contents.next
          .js-top-kv-inner.top-kv-bg-contents-inner
            .js-top-kv.top-kv-bg(style='background-image: url(/image/img_example_02.png)')
        .js-top-kv-wrap.top-kv-bg-contents
          .js-top-kv-inner.top-kv-bg-contents-inner
            .js-top-kv.top-kv-bg(style='background-image: url(/image/img_bg.png)')

    .top-kv-wrap
      h2.js-title.top-kv-title.top-kv-title--pc the creative
        br
        |hacker collective

      h2.js-title.top-kv-title.top-kv-title--sp the 
        br.top-newline
        |creative
        br
        |hacker 
        br.top-newline
        |collective

    .top-menu-wrap
      include /shared/templates/module/_menu
      +menu(data.top.menu, 'white')

    +heading({title: 'Who We Are', link: '/about'})
