extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var bgColor = ''

block main
  include /shared/templates/module/_heading

  .top-wrap
    .top-kv-wrap
      h2.js-title.top-kv-title.top-kv-title--pc the creative
        br
        |hacker collective

      h2.js-title.top-kv-title.top-kv-title--sp the 
        br.top-newline
        |creative
        br
        |hacker 
        br.top-newline
        |collective

    .top-menu-wrap
      include /shared/templates/module/_menu
      +menu(data.top.menu)

    +heading({title: 'Who We Are', link: '#'})
