extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'

block main
  .top-wrap
    include /shared/templates/module/_heading

    include /shared/templates/module/_menu
    +menu(data.top.menu)
