.about-can-wrap
  .about-can-inner
    .about-can-title
      +title({title: 'what we can'})

    ul.about-can-list-wrap
      each item in data.about.can
        li.about-can-list
          h2.about-can-list-title #{item.title}
          p.about-can-list-text #{item.description}

  .about-can-menu.about-can-menu--pc
    +menu(data.about.contactMenu)
