#can.js-about-section.about-can-wrap(data-color='#4e4e4e')
  .about-can-inner
    .about-can-title
      +title({title: 'what we can'})

    ul.about-can-list-wrap
      each item in data.about.can
        li.js-fade.about-can-list
          h2.about-can-list-title #{item.title}
          p.about-can-list-text #{item.description}

  .about-menu--pc
    +menu(data.about.contactMenu)

  .about-menu--sp
    +heading({title: data.about.canMenu[0].title, link: data.about.canMenu[0].link})
    +heading({title: data.about.canMenu[1].title, link: data.about.canMenu[1].link})
