#kv.js-about-section.about-kv-wrap(data-color='#f6f6f6')
  .sw-guide-wrap.sw-guide-wrap--about
    .sw-guide

  h2.js-title.about-kv-title A design & engineering studio 
    br
    | based in Tokyo, 
    br
    | collaborating with clients 
    br
    | worldwide to grow their ideas.
