.js-about-section.about-kv-wrap(data-color='#f6f6f6')
  h2.js-title.about-kv-title A design & engineering studio 
    br
    | based in Tokyo, 
    br
    | collaborating with clients 
    br
    | worldwide to grow their ideas.
