.about-self-wrap
  .about-self-inner
    h2.about-self-title 89 Studio is
      br
      | a creative management & 
      br.about-newline
      | technology studio.

    p.about-self-description 時代が目まぐるしいほど変転する昨今、
      br
      |「既成概念を壊して(＝ハックして) 、前へと進む野心とヴィジョン」が求められています。
      br
      | 89 Studioは、そんな過去と未来を見据えたビジョンを持つ、
      br
      | さまざまなジャンルのクリエイターが集まったコミュニティであり、
      br
      | 既成のデザイン、デジタル、映像、インスタレーション、建築をハックして
      br
      | 新しい価値を創り出す総合クリエティブ集団です。
