html {
  font-size: 62.5%;
  overflow-y: visible;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
s
li {
  list-style: none;
}

.barba-leave-active,
.barba-enter-active {
  transition: opacity 0.4s ease;
}

.barba-leave {
  opacity: 1;
}

.barba-enter {
  opacity: 0;
}

.barba-leave-to {
  opacity: 0;
}

.barba-enter-to {
  opacity: 1;
}

.sw-body {
  background-color: $COLOR_BG_PRIMARY;

  &.black {
    background-color: #000;
  }

  &.white {
    background-color: #fff;
  }

  &.loading {
    cursor: wait;
  }

  cursor: none;
}

a {
  cursor: none;
}

// ==============================================
// JS
// ==============================================

.js-fade {
  opacity: 0;
  transform: scale(1.04);
  transition: transform 1.2s linear, opacity 1.2s $easeInExpo;

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.js-title {
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.js-text-wrap {

  &.active {
    .js-text {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.js-text {
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
  display: inline-block;

  @for $i from 0 through 220 {
    &:nth-child(#{$i + 1}) {
      transition: transform 1s (#{$i * 0.05}s) $easeOutExpo, opacity 1.2s (#{$i * 0.05}s) linear;
    }
  }
}

// ==============================================
// MOUSE
// ==============================================

.sw-mouse {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;
  transition: opacity 0.2s ease, width 0.3s ease, height 0.3s ease, border-width 0.3s ease;
  pointer-events: none;

  &.white {
    background-color: #fff;
    mix-blend-mode: difference;
  }

  &.hidden {
    opacity: 0;
  }

  &.hover {
    border-width: 1px;
    width: 40px;
    height: 40px;
  }
}

// ==============================================
// LOADING
// ==============================================

.sw-loading-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $Z_INDEX_LOADING;

  &.sw-loding-fade {
    .sw-loading-contents {
      opacity: 0;
      transition: opacity 0.6s 1s $easeInExpo;
    }
  }
}

.sw-loading-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.sw-loading-contents {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate3d(-50%, -50%, 0);
}

.sw-loading-text {
  font-size: 24px;
  text-align: center;
  line-height: 1.17;
  color: #fff;
  letter-spacing: 0.7em;
}

.sw-loading-word {
  &.loading {
    @for $i from 0 through 8 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0);
        animation: blur-text 1.5s (#{$i * 0.1}s) infinite linear alternate;
      }
    }
  }

  &_space {
    margin-right: 0.7em;
  }
}


// ==============================================
// LOGO
// ==============================================

.sw-logo-wrap {
  width: 100%;
  height: 100%;
  display: block;
}

.sw-logo-path {
  fill: #000;
  transition: fill 0.2s ease;
}

// ==============================================
// BG
// ==============================================

.sw-bg-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $Z_INDEX_BG;
  pointer-events: none;

  &.open {
    pointer-events: auto;

    .sw-bg {
      transform: scaleX(1.1);
      transform-origin: left;

      @for $i from 0 through 8 {
        &:nth-child(#{$i + 1}) {
          transition: transform 0.3s (#{$i * 0.04}s) ease;
        }
      }
    }
  }
}

.sw-bg-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.sw-bg {
  width: 12.5%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #000;
  display: block;
  transition: transform 0.2s ease;
}


// ==============================================
// HEADING
// ==============================================

$logoWidth: 40;

.sw-heading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #fff;
  height: 100vh;
  z-index: $Z_INDEX_HEADING;
  border-bottom: solid 1px $COLOR_LINE_PRIMARY;

  &:last-child {
    border-bottom: 0;
  }

  @include largeScreenWidthLess() {
    width: 100%;
    height: getvw(80);
    position: static;
  }
}

.sw-heading-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.sw-heading-link {
  width: $logoWidth + px;
  display: block;
}

.sw-heading-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(90deg);
  white-space: nowrap;
  text-decoration: none;

  @include mediumScreenWidthOver {
    &:hover {
      .sw-line {
        transform: scaleX(1.1);
        background-color: $COLOR_ACTIVE_PRIMARY;
  
        &::before {
          background-color: $COLOR_ACTIVE_PRIMARY;
        }
      }

      .sw-heading-text {
        color: $COLOR_ACTIVE_PRIMARY;
      }
    }
  }

  @include largeScreenWidthLess() {
    transform: translate(-50%, -50%);

    .sw-heading-text      {
      color: $COLOR_ACTIVE_PRIMARY;
    }

    .sw-line {
      background-color: $COLOR_ACTIVE_PRIMARY;

      &::before {
        background-color: $COLOR_ACTIVE_PRIMARY;
      }
    }
  }
}

.sw-Heading-line {
  width: 455px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $COLOR_LINE_PRIMARY;
  transform: translate(-50%, -50%);
  z-index: 0;

  @include largeScreenWidthLess() {
    width: getvw(300);
    background-color: $COLOR_ACTIVE_PRIMARY;
  }
}

.sw-heading-text {
  $fontSize: 14;
  $lineHeight: 17;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.12em;
  color: $COLOR_TEXT_PRIMARY;
  padding: 0 25px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    padding: 0 getvw(25);
    color: $COLOR_ACTIVE_PRIMARY;
  }
}

// ==============================================
// LINE
// ==============================================

.sw-line {
  width: 100%;
  height: 1px;
  background-color: $COLOR_LINE_PRIMARY;
  position: relative;
  display: block;
  transition: all 0.2s ease;
  transform-origin: left;

  &::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: $COLOR_LINE_PRIMARY;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right;
    transform: rotate(20deg);
    transition: all 0.2s ease;
  }

  @include largeScreenWidthLess() {
    &::before {
      width: getvw(20);
    }
  }
}

// ==============================================
// HEADER
// ==============================================

.sw-header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $Z_INDEX_HEADER;
  transition: opacity 0.2s ease;
  opacity: 1;

  &.loading {
    z-index: $Z_INDEX_HEADER_LOADING;
  }

  &.disable {
    opacity: 0;
    pointer-events: none;
  }
}

.sw-header-inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;

  @include largeScreenWidthLess() {
    padding: 0 getvw(30);
  }

  &.open {
    .sw-header-toggle-contents {
      &:nth-child(1),
      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(15deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-15deg);
      }
    }

    .sw-header-toggle {
      background-color: #fff;
    }

    .sw-logo-path {
      fill: #afafaf;
    }
  }

  &.white {
    .sw-header-toggle {
      background-color: #fff;
    }

    .sw-logo-path {
      fill: #afafaf;
    }
  }
}

.sw-header-link {
  width: 40px;
  display: block;

  @include largeScreenWidthLess() {
    width: getvw(40);
  }
}

.sw-header-toggle-wrap {
  width: 120px;
  height: 100px;
  position: relative;

  @include largeScreenWidthLess() {
    width: getvw(120);
    height: getvw(100);
    margin-right: getvw(-15);
  }
}

.sw-header-toggle-contents {
  width: 85px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 0.2s 0.1s ease, top 0.2s ease;

  &:nth-child(1) {
    top: calc(50% + 6px);
  }

  &:nth-child(2) {
    top: calc(50% - 6px);
  }

  @include largeScreenWidthLess() {
    width: getvw(85);
    
    &:nth-child(1) {
      top: calc(50% + #{getvw(6)});
    }
  
    &:nth-child(2) {
      top: calc(50% - #{getvw(6)});
    }
  }
}

.sw-header-toggle {
  width: 100%;
  height: 100%;
  display: block;
  transition: background-color 0.2s ease;
  background-color: #000;
}

// ==============================================
// MENU
// ==============================================

.sw-menu-wrap {
  position: absolute;
  right: percentage(105 / $X_LARGE_SCREEN_WIDTH);
  bottom: percentage(42 / $X_LARGE_SCREEN_HEIGHT);

  @include largeScreenWidthLess() {
    position: static;
  }
}

.sw-menu-contents-wrap {
  display: flex;

  @include largeScreenWidthLess() {
    display: block;
  }
}

.sw-menu-contents {
  margin-right: 120px;
  white-space: nowrap;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }

  @include largeScreenWidthLess() {
    margin: 0 0 getvw(80) 0;

    &:last-child {
      margin: 0;
    }
  }
}

.sw-menu-link {
  display: block;
  text-decoration: none;

  @include mediumScreenWidthOver {
    &:hover {
      .sw-line {
        transform: scaleX(1.2);
        background-color: $COLOR_ACTIVE_PRIMARY;
  
        &::before {
          background-color: $COLOR_ACTIVE_PRIMARY;
        }
      }

      .sw-menu-contents-title {
        color: $COLOR_ACTIVE_PRIMARY;
      }
    }
  }
}

.sw-menu-contents-title-wrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;

  @include largeScreenWidthLess() {
    margin-bottom: getvw(16);
  }
}

.sw-menu-contents-title {
  $fontSize: 16;
  $lineHeight: 19;

  font-size: $fontSize + px;
  line-height: 0.8;
  color: $COLOR_TEXT_SECONDARY;
  letter-spacing: 0.12em;
  font-weight: 700;
  display: inline-block;
  padding-right: 6px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    padding-right: getvw(6);
  }
}

.sw-menu-contents-line {
  width: 62px;

  @include largeScreenWidthLess() {
    width: getvw(62);
  }
}

.sw-menu-contents-description {
  $fontSize: 15;
  $lineHeight: 20;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.1em;
  color: $COLOR_TEXT_PRIMARY;

  &.hidden {
    min-width: 170px;
    min-height: 38px;
  }

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    &.hidden {
      min-width: inherit;
      min-height: inherit;
    }
  }
}

// ==============================================
// NAV
// ==============================================

.sw-nav-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: $Z_INDEX_NAV;
  pointer-events: none;
  opacity: 0;
  // background-color: #000;

  &.open {
    pointer-events: auto;
  }
}

.sw-nav-inner {
  width: 100%;
  padding-top:  120px;

  @include largeScreenWidthLess() {
    padding-top:  getvw(120);
  }
}

.sw-nav-list {
  width: 100%;
  border-bottom: solid 1px #363636;
  position: relative;

  &:first-child {
    border-top: solid 1px #363636;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    transition: background-color 0.2s ease;
    transform-origin: right;
    z-index: 0;
  }

  @include largeScreenWidthOver() {
    &:hover {
      .sw-nav-text {
        color: #000;
        transform: translate3d(30px, 0, 0);
      }
  
      &::before {
        background-color: #fff;
      }
    }
  }
}

.sw-nav-list-inner {
  width: 100%;
}

.sw-nav-link {
  text-decoration: none;
  padding: 40px 0 40px 100px;
  display: block;

  @include largeScreenWidthLess() {
    padding: getvw(20) 0 getvw(20) getvw(50);
  }
}

.sw-nav-text {
  $fontSize: 20;
  $lineHeight: 19;

  font-size: $fontSize + px;
  letter-spacing: 0.065em;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.4s ease, transform 0.2s ease;
  position: relative;
  z-index: 1;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);
  }
}

// ==============================================
// TITLE
// ==============================================

.sw-title {
  $fontSize: 30;
  $lineHeight: 35;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  position: relative;

  &.black {
    color: $COLOR_TEXT_PRIMARY;
  }

  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 15px);
    width: 4px;
    background-color: $COLOR_ACTIVE_PRIMARY;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
  }

  @include largeScreenWidthLess() { 
    @include fontvw($fontSize);

    &::before {
      height: calc(100% - #{getvw(12)});
      width: getvw(4);
      background-color: $COLOR_ACTIVE_PRIMARY;
      top: 50%;
      left: getvw(-10);
      transform: translateY(-50%);
    }
  }
}