html {
  font-size: 62.5%;
  overflow-y: visible;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
s
li {
  list-style: none;
}

.sw-body {
  background-color: $COLOR_BG_PRIMARY;

  &.black {
    background-color: #000;
  }
}

// ==============================================
// LOGO
// ==============================================

.sw-logo-wrap {
  width: 100%;
  height: 100%;
  display: block;

  &.open {
    .sw-logo-path {
      fill: #afafaf;
    }
  }
}

.sw-logo-path {
  fill: #000;
  transition: fill 0.2s ease;
}

// ==============================================
// BG
// ==============================================

.sw-bg-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $Z_INDEX_BG;
  pointer-events: none;

  &.open {
    pointer-events: auto;

    .sw-bg {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.sw-bg-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.sw-bg {
  width: 12.5%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease;
  background-color: #000;
  display: block;
}


// ==============================================
// HEADING
// ==============================================

$logoWidth: 40;

.sw-heading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #fff;
  height: 100vh;
  z-index: $Z_INDEX_HEADING;

  @include largeScreenWidthLess() {
    width: 100%;
    height: getvw(80);
    position: static;
  }
}

.sw-heading-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.sw-heading-link {
  width: $logoWidth + px;
  display: block;
}

.sw-heading-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(90deg);
  white-space: nowrap;
  text-decoration: none;

  @include largeScreenWidthLess() {
    transform: translate(-50%, -50%)
  }
}

.sw-Heading-line {
  width: 455px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $COLOR_LINE_PRIMARY;
  transform: translate(-50%, -50%);
  z-index: 0;

  @include largeScreenWidthLess() {
    width: getvw(300);
  }
}

.sw-heading-text {
  $fontSize: 14;
  $lineHeight: 17;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.12em;
  color: $COLOR_TEXT_PRIMARY;
  padding: 0 25px;
  background-color: #fff;
  position: relative;
  z-index: 1;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    padding: 0 getvw(25);
  }
}

// ==============================================
// LINE
// ==============================================

.sw-line {
  width: 100%;
  height: 1px;
  background-color: $COLOR_LINE_PRIMARY;
  position: relative;
  display: block;

  &::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: $COLOR_LINE_PRIMARY;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right;
    transform: rotate(25deg);
  }

  @include largeScreenWidthLess() {
    &::before {
      width: getvw(20);
    }
  }
}

// ==============================================
// HEADER
// ==============================================

.sw-header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $Z_INDEX_HEADER;
}

.sw-header-inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;

  @include largeScreenWidthLess() {
    padding: 0 getvw(30);
  }
}

.sw-header-link {
  width: 40px;
  display: block;

  @include largeScreenWidthLess() {
    width: getvw(40);
  }
}

.sw-header-toggle-wrap {
  width: 120px;
  height: 100px;
  position: relative;
  cursor: pointer;

  &.open {
    .sw-header-toggle-contents {
      &:nth-child(1),
      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(15deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-15deg);
      }
    }

    .sw-header-toggle {
      background-color: #fff;
    }
  }

  @include largeScreenWidthLess() {
    width: getvw(120);
    height: getvw(100);
    margin-right: getvw(-15);
  }
}

.sw-header-toggle-contents {
  width: 85px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 0.2s 0.1s ease, top 0.2s ease;

  &:nth-child(1) {
    top: calc(50% + 6px);
  }

  &:nth-child(2) {
    top: calc(50% - 6px);
  }

  @include largeScreenWidthLess() {
    width: getvw(85);
    
    &:nth-child(1) {
      top: calc(50% + #{getvw(6)});
    }
  
    &:nth-child(2) {
      top: calc(50% - #{getvw(6)});
    }
  }
}

.sw-header-toggle {
  width: 100%;
  height: 100%;
  display: block;
  transition: background-color 0.2s ease;
  background-color: #000;
}

// ==============================================
// MENU
// ==============================================

.sw-menu-wrap {
  position: absolute;
  right: percentage(105 / $X_LARGE_SCREEN_WIDTH);
  bottom: percentage(42 / $X_LARGE_SCREEN_HEIGHT);

  @include largeScreenWidthLess() {
    position: static;
  }
}

.sw-menu-contents-wrap {
  display: flex;

  @include largeScreenWidthLess() {
    display: block;
  }
}

.sw-menu-contents {
  margin-right: 120px;
  white-space: nowrap;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }

  @include largeScreenWidthLess() {
    margin: 0 0 getvw(80) 0;

    &:last-child {
      margin: 0;
    }
  }
}

.sw-menu-contents-title-wrap {
  position: relative;
  margin-bottom: 16px;

  @include largeScreenWidthLess() {
    margin-bottom: getvw(16);
  }
}

.sw-menu-contents-title {
  $fontSize: 16;
  $lineHeight: 19;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  color: $COLOR_TEXT_SECONDARY;
  letter-spacing: 0.12em;
  font-weight: 700;
  display: inline-block;
  padding-right: 6px;
  background-color: $COLOR_BG_PRIMARY;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    padding-right: getvw(6);
  }
}

.sw-menu-contents-line {
  width: 173px;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 0;

  @include largeScreenWidthLess() {
    width: getvw(173);
    bottom: getvw(2);
  }
}

.sw-menu-contents-description {
  $fontSize: 15;
  $lineHeight: 20;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.1em;
  color: $COLOR_TEXT_PRIMARY;

  &.hidden {
    min-width: 170px;
    min-height: 38px;
  }

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    &.hidden {
      min-width: inherit;
      min-height: inherit;
    }
  }
}

.sw-menu-link {
  display: block;
  text-decoration: none;
}

// ==============================================
// NAV
// ==============================================

.sw-nav-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: $Z_INDEX_NAV;
  pointer-events: none;
  // background-color: #000;

  // アニメーションを入れるときに外す
  display: none;

  &.open {
    pointer-events: auto;
  }
}

.sw-nav-inner {
  width: 100%;
  padding-top:  120px;

  @include largeScreenWidthLess() {
    padding-top:  getvw(120);
  }
}

.sw-nav-list {
  width: 100%;
  border-bottom: solid 1px #363636;

  &:first-child {
    border-top: solid 1px #363636;
  }
}

.sw-nav-link {
  text-decoration: none;
  padding: 40px 0 40px 100px;
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: transform 0.4s ease;
    transform-origin: right;
    transform: scaleX(0);
    z-index: 0;
  }

  &:hover {
    .sw-nav-text {
      color: #000;
    }

    &::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  @include largeScreenWidthLess() {
    padding: getvw(20) 0 getvw(20) getvw(50);
  }
}

.sw-nav-text {
  $fontSize: 20;
  $lineHeight: 19;

  font-size: $fontSize + px;
  letter-spacing: 0.065em;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.4s ease;
  position: relative;
  z-index: 1;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);
  }
}

// ==============================================
// SVG
// ==============================================