$X_LARGE_SCREEN_WIDTH: 1440;
$X_LARGE_SCREEN_HEIGHT: 798;
$LARGE_SCREEN_WIDTH: 1024;
$MEDIUM_SCREEN_WIDTH: 768;
$SMALL_SCREEN_WIDTH: 375;

$COLOR_TEXT_PRIMARY: #4e4e4e;
$COLOR_TEXT_SECONDARY: #a7a7a7;
$COLOR_TEXT_CONTENTS: #cacaca;
$COLOR_BG_PRIMARY: #f6f6f6;
$COLOR_LINE_PRIMARY: #ddd;
$COLOR_ACTIVE_PRIMARY: #ae3f3f;

$Z_INDEX_BG: 10;
$Z_INDEX_HEADING: 2;
$Z_INDEX_HEADER: 30;
$Z_INDEX_NAV: 20;