extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var bgColor = 'black'
    var headerColor = 'white'

block main
  //- include /shared/templates/module/_heading
  #project-detail-app
