extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var bgColor = 'black'
    var headerColor = 'white'

block main
  include /shared/templates/module/_title

  .detail-wrap
    .detail-inner
      .detail-kv-wrap
        .detail-bg-wrap
          .detail-bg-inner
            .detail-bg(style='background-image:url(/image/img_example_bg.png)')

        .detail-kv
          .detail-kv-heading
            .detail-kv-label-wrap
              span.detail-kv-label-number 01 -
              p.detail-kv-label INSTALLATION

            p.detail-kv-heading-text / PROJECT MANAGEMENT & DIRECTION

          h2.detail-kv-heading-name PROJECT NAME

      .detail-heading-wrap
        p.detail-heading-text 2018年9月に行われた。新型Audi A8/A7 Sportback
          br
          | の日本発売を記念したプレミアムイベ ント。
          br
          | アウディが持つ、「モダンプレミアム」な世界を演出するため、
          br
          | インタラクティブなデジタルコンテンツの企画、制作を担当しました。

    .detail-video-wrap
      iframe.detail-video(type='text/html', width='640', height='360', src='https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com', frameborder='0')

    .detail-contents-wrap
      .detail-contents.right
        .detail-contents-image-wrap
          img.detail-contents-image(src='/image/img_example_bg.png', alt='')

        p.detail-contents-text 最新テクノロジーを搭載した Audi A8 / A7の革新的な世界、モダンプレミアムの世界観を 体験できる本イベントでは、 ワープしていくような激しい光の線が音とともに来場者をSpace for Progressの世界へい ざなう Cube Entrance。

      .detail-contents.left
        .detail-contents-image-wrap
          img.detail-contents-image(src='/image/img_example_bg.png', alt='')

        p.detail-contents-text 最新テクノロジーを搭載した Audi A8 / A7の革新的な世界、モダンプレミアムの世界観を 体験できる本イベントでは、 ワープしていくような激しい光の線が音とともに来場者をSpace for Progressの世界へい ざなう Cube Entrance。

      .detail-contents
        .detail-contents-image-wrap
          img.detail-contents-image(src='/image/img_example_bg.png', alt='')

    .detail-credit-wrap
      .detail-credit-inner
        .detail-credit
          h3.detail-credit-title Client : 
          p.detail-credit-text Audi Japan KK  |  アウディジャパン株式会社

        .detail-credit
          h3.detail-credit-title Category : 
          p.detail-credit-text Digital Installation
        
        .detail-credit
          h3.detail-credit-title Product field：
          p.detail-credit-text 企画・システム設計・デザイン・アプリケーション開発

        .detail-credit
          h3.detail-credit-title Product field：
          p.detail-credit-text PM/ディレクター1名、テクニカルディレクター1名、デザイナー2名、サウンドクリエーター1名、フロントエンドエンジニア1名、システムエンジニア4名

    .detail-nav-wrap
      .detail-nav-inner

        .detail-nav-contents.detail-nav-link-wrap--left
          a.detail-nav-link-wrap(href='#')
            .detail-nav-link-inner
              .detail-nav-link
                span.sw-line

        .detail-nav-contents.detail-nav-link-wrap--center
          a.detail-nav-link-text(href='#') project list

        .detail-nav-contents.detail-nav-link-wrap--right
          a.detail-nav-link-wrap(href='#')
            .detail-nav-link-inner
              .detail-nav-link
                span.sw-line
