extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var bgColor = 'white'

block main
  //- mixin
  include /shared/templates/module/_heading
  include /shared/templates/module/_title
  include /shared/templates/module/_menu

  .all-wrap

    #project-all-app
    
    .all-menu-pc
      +menu(data.project.all)

    +heading({title: 'Work With Us', link: '#'})
