@import '../../../shared/styles/import';

.all-wrap {
  width: 100%;
  position: relative;
}

.all-inner {
  width: 100%;
  padding: 115px percentage(120 / $X_LARGE_SCREEN_HEIGHT) 360px;

  @include largeScreenWidthLess() {
    padding: getvw(120) getvw(40);
  }
}

.all-heading {
  width: 100%;
  margin-bottom: 142px;

  @include largeScreenWidthLess() {
    margin-bottom: getvw(40);
  }
}

.all-heading-title {
  margin-bottom: 34px;

  @include largeScreenWidthLess() {
    margin-bottom: getvw(10);
  }
}

.all-heading-description {
  $fontSize: 17;
  $lineHeight: 35;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  color: $COLOR_TEXT_PRIMARY;
  letter-spacing: 0.03em;

  @include largeScreenWidthLess() {
    $fontSize: 14;
    $lineHeight: 28;

    @include fontvw($fontSize);

    line-height: ($lineHeight / $fontSize);
  }
}

.all-menu-pc {
  display: block;

  @include largeScreenWidthLess() {
    display: none;
  }
}

.all-contents-wrap {
  width: calc(100% + #{getvw(30, $X_LARGE_SCREEN_HEIGHT)});
  display: flex;
  flex-wrap: wrap;
  margin: getvw(-15, $X_LARGE_SCREEN_HEIGHT);

  @include largeScreenWidthLess() {
    width: 100%;
    margin: 0;
    display: block;
  }
}

.all-contents-link {
  width: 100%;
  display: block;
  text-decoration: none;
}

.all-contents {
  width: 33.333333%;
  padding: getvw(15, $X_LARGE_SCREEN_HEIGHT);
  list-style: none;

  @include largeScreenWidthLess() {
    width: 100%;
    padding: 0;
    margin-bottom: getvw(28);
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.all-contents-image-wrap {
  width: 100%;
  position: relative;
  margin-bottom: getvw(10, $X_LARGE_SCREEN_HEIGHT);

  &::before {
    content: '';
    padding-top: 66.666666667%;
    display: block;
  }

  @include largeScreenWidthLess() {
    margin-bottom: getvw(10);
  }
}

.all-contents-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.all-contents-label-wrap {
  $fontSize: 10;
  $lineHeight: 12;

  @include fontvw($fontSize, $X_LARGE_SCREEN_HEIGHT);
  
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.12em;
  margin-bottom: 10px;
  color: #909090;
  width: 100%;
  display: flex;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    line-height: ($lineHeight / $fontSize);
    margin-bottom: getvw(4);
  }
}

.all-contents-label-number {
  white-space: nowrap;
  margin-right: getvw(8, $X_LARGE_SCREEN_HEIGHT);
  word-wrap: break-word;

  @include largeScreenWidthLess() {
    margin-right: getvw(4);
  }
}

.all-contents-text {
  $fontSize: 16;
  $lineHeight: 21;

  @include fontvw($fontSize, $X_LARGE_SCREEN_HEIGHT);

  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.065em;
  color: $COLOR_TEXT_PRIMARY;
  font-weight: 400;
  word-wrap: break-word;

  @include largeScreenWidthLess() {
    @include fontvw($fontSize);

    margin-right: getvw(4);
  }
}

.all-newline-pc {
  display: block;

  @include largeScreenWidthLess() {
    display: none;
  }
}