@import '../../shared/styles/import';
@import '../../shared/icons/css/icons';

@import '../../about/style/index';
@import '../../project/all/style/index';
@import '../../project/style/index';
@import '../../project/detail/style/index';


body {
  background-color: $COLOR_BG_PRIMARY;
}

.top-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.top-kv-wrap {
  width: 100%;
  height: 100vh;
  position: relative;

  @include largeScreenWidthLess() {
    height: 100vh;
  }
}

.top-menu-wrap {
  @include largeScreenWidthLess() {
    padding: getvw(50) getvw(30) getvw(200);
  }
}

.top-kv-title {
  $fontSize: 30;
  $lineHeight: 50;

  font-size: $fontSize + px;
  letter-spacing: 0.7em;
  font-weight: 700;
  line-height: ($lineHeight / $fontSize);
  color: #000;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: percentage(200 / $X_LARGE_SCREEN_WIDTH);
  transform: translateY(-50%);

  @include largeScreenWidthLess() {
    $fontSize: 23;

    @include fontvw($fontSize);

    left: getvw(42);
    line-height: ($lineHeight / $fontSize);
  }
}

.top-newline {
  display: none;

  @include largeScreenWidthLess() {
    display: block;
  }
}