@import '../../shared/styles/import';
@import '../../shared/icons/css/icons';


body {
  background-color: $COLOR_BG_PRIMARY;
}

.top-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}


.sw-menu-wrap {
  position: absolute;
  right: percentage(105 / $X_LARGE_SCREEN_WIDTH);
  bottom: percentage(42 / $X_LARGE_SCREEN_WIDTH);
}

.sw-menu-contents-wrap {
  display: flex;
}

.sw-menu-contents {
  margin-right: 120px;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}

.sw-menu-contents-title-wrap {
  position: relative;
  margin-bottom: 16px;
}

.sw-menu-contents-title {
  $fontSize: 16;
  $lineHeight: 19;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  color: $COLOR_TEXT_SECONDARY;
  letter-spacing: 0.12em;
  font-weight: 700;
  display: inline-block;
  padding-right: 6px;
  background-color: $COLOR_BG_PRIMARY;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.sw-menu-contents-line {
  width: 173px;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 0;
}

.sw-menu-contents-description {
  $fontSize: 15;
  $lineHeight: 20;

  font-size: $fontSize + px;
  line-height: ($lineHeight / $fontSize);
  letter-spacing: 0.1em;
  color: $COLOR_TEXT_PRIMARY;
}

.sw-menu-link {
  display: block;
  text-decoration: none;
}