@import '../../shared/styles/import';
@import '../../shared/icons/css/icons';

@import '../../about/style/index';
@import '../../password/style/index';
@import '../../project/all/style/index';
@import '../../project/style/index';
@import '../../project/detail/style/index';


body {
  background-color: $COLOR_BG_PRIMARY;
}

.top-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.top-kv-bg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
}

.top-kv-bg-inner {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.top-kv-bg-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;

  &.current {
    z-index: 1;
    opacity: 1;
  }

  &.next {
    opacity: 1;
    left: auto;
    right: 0;
  }
}

.top-kv-bg-contents-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-kv-bg {
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.top-kv-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  @include largeScreenWidthLess() {
    height: 100vh;
  }
}

.top-menu-wrap {
  @include largeScreenWidthLess() {
    background-color: $COLOR_BG_PRIMARY;
    padding: getvw(50) getvw(30) getvw(200);
  }
}

.top-kv-title {
  $fontSize: 30;
  $lineHeight: 50;

  font-size: $fontSize + px;
  letter-spacing: 0.7em;
  font-weight: 700;
  line-height: ($lineHeight / $fontSize);
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: percentage(200 / $X_LARGE_SCREEN_WIDTH);
  transform: translateY(-50%);

  @include largeScreenWidthLess() {
    $fontSize: 23;

    @include fontvw($fontSize);

    left: getvw(42);
    line-height: ($lineHeight / $fontSize);
  }
}

.top-kv-title--pc {
  display: block;

  @include largeScreenWidthLess() {
    display: none;
  }
}

.top-kv-title--sp {
  display: none;

  @include largeScreenWidthLess() {
    display: block;
  }
}

.top-newline {
  display: none;

  @include largeScreenWidthLess() {
    display: block;
  }
}