block vars
  -
    var title = 'top'
    var bgColor = ''
    var headerColor = ''

doctype html
html(lang='ja')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{data.siteWide.title}
    meta(charset='utf-8')
    meta(name='description', content=data.siteWide.description)
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='robots', content='noindex')
    link(rel='stylesheet', href='/style/index.css')
    link(rel='shortcut icon', href='/image/favicon.ico')

  body#js-body.sw-body.loading(class=`${bgColor !== '' ? bgColor : ''}`)
    include /shared/templates/module/_bg

    include /shared/templates/module/_loading

    include /shared/templates/module/_header
    +header({color: headerColor})

    spqn#js-mouse.sw-mouse.hidden

    div(data-barba='wrapper')
      div(data-barba='container', data-barba-namespace='pageName')
        block main

    script(crossorigin='anonymous', src='https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver%2CNodeList.prototype.forEach')
    script(src='/shared/script/vendor.js')
    script(src='/script/index.js')
